<% content_for(:title, "#{@user.name} | Hacker News") %>

<h2><%= @user.name %></h2>

<p>and...</p>

<div class="row">
  <div class="col-lg-12 inline">
    <%= link_to "Back", users_path, class: 'btn btn-primary' %>
    <%= link_to "Edit", edit_user_path(@user), class: 'btn btn-warning' %>
    <%= link_to "Delete", user_path(@user),
                          :confirm => "Are you sure?",
                          :method => "delete",
                          :class => "btn btn-danger"%>
  </div>
</div>
